body {
        background-color: rgb(85, 202, 238);
    }

    p {
        font-size: 20px;
    }

    ul {
        list-style: none;
        display: flex;
    }

    .movies-heading h2 {
        font-weight: 400;
        margin: 0px;
        padding: 1px 20px;
        background-color: mediumblue;
        border: 1px solid;
        font-size: 1.7rem;
        letter-spacing: 1px;
        text-transform: uppercase;
        width: 100%;
    }

    .movies-heading {
        display: flex;
        margin: 0px 2%;
    }

    .movies-box {
        width: 300px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
        box-shadow: 2px 2px 30px rgba(0, 0, 0, 0.2);
        margin: 20px;
        display: flex;
        border-radius: 5px;
        overflow: hidden;
        border-top: 3px solid #292929;
    }

    .movies-img {
        width: 100%;
        height: 400px;
        position: relative;
    }

    .movies-img img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .movies-box a {
        text-align: center;
        display: block;
        font-weight: 600;
        display: -webkit-box;
        max-width: 80%;
        -webkit-line-clamp: vertical;
        overflow: hidden;
        text-overflow: ellipsis;
        color: #3a3a3a;
        margin: 20px;
    }


    .movies-box:hover {
        transform: translateY(-10px);
        transition: all ease 0.2s;
    }

    #movies-list {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
    }
