<!--doctype html-->
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE-edge">
    <link rel="stylesheet" href="css/poster.css">
</head>

</html>
<h2>Movie Posters</h2>
<div class="movies-box">
    <div class="movies-img">
        <div class="quality">HDRip</div>
        <img src="photos/got.jpg">
    </div><a href="game" class="button">Game of thrones</a>
</div>


<div class="movies-box">
    <div class="movies-img">
        <div class="quality">HDRip</div>
        <img src="photos/vikings.jpg">
    </div><a href="vik" class="button">Vikings</a>
</div>

<div class="movies-box">
    <div class="movies-img">
        <div class="quality">HDRip</div>
        <img src="photos/goblin.jpg">
    </div><a href="goblin" class="button">Goblin</a>
</div>

<div class="movies-box">
    <div class="movies-img">
        <div class="quality">HDRip</div>
        <img src="photos/moon.jpg">
    </div><a href="moon" class="button">Moon lovers</a>
</div>

<div class="movies-box">
    <div class="movies-img">
        <div class="quality">HDRip</div>
        <img src="photos/rnm.jpg">
    </div><a href="#">Rick and Morty</a>
</div>

<div class="movies-box">
    <div class="movies-img">
        <div class="quality">HDRip</div>
        <img src="photos/sim.jpg">
    </div><a href="#">The simpsons</a>
</div>

<div class="movies-box">
    <div class="movies-img">
        <div class="quality">HDRip</div>
        <img src="photos/lion.jpg">
    </div><a href="#">Lion King</a>
</div>

<div class="movies-box">
    <div class="movies-img">
        <div class="quality">HDRip</div>
        <img src="photos/Mulan.jpg">
    </div><a href="#">Mulan</a>
</div>

<body background="http://getwallpapers.com/wallpaper/full/f/5/8/285351.jpg">
</body>