<div class="movies-box">
    <div class="movies-img">
        <div class="quality">HDRip</div>
        <img src="photos/vikings.jpg">
        <link rel="stylesheet" href="css/vik.css">
    </div><a href="vik" class="button">Vikings</a>
</div>

<p>Some critics have cited historical inaccuracies in the depiction of Viking society. Lars Walker, in the magazine The
    American Spectator, criticised its portrayal of early Viking Age government (represented by Earl Haraldson) as
    autocratic rather than essentially democratic.[63] Joel Robert Thompson criticised depiction of the Scandinavians'
    supposed ignorance of the existence of Britain and Ireland and of the death penalty rather than outlawry (skoggangr)
    as their most serious punishment.[64]

    Monty Dobson, a historian at Central Michigan University, criticised the depiction of Viking clothing but went on to
    say that fictional shows like Vikings could still be a useful teaching tool.[65] The Norwegian newspaper Aftenposten
    reported that the series incorrectly depicted the temple at Uppsala as a stave church in the mountains, whereas the
    historical temple was situated on flat land and stave churches were characteristic of later Christian
    architecture.[66] The temple in the series has similarities with reconstructions of the Uppåkra hof.

    Many characters are based on (or inspired by) real people from history or legend and the events portrayed are
    broadly drawn from history. The history of more than a century has been condensed; people who could never have met
    are shown as of similar age, with the history amended for dramatic effect. Season one leads up to the attack on
    Lindisfarne Abbey of 793 (before the real Rollo was born). In season three the same characters at roughly the same
    ages participate in the Siege of Paris of 845. Ecbert was dead and King Alfred the Great was already on the throne,
    yet he is portrayed as a child in season four. Rollo is shown having his followers killed and fighting his fellow
    Vikings, whereas in history they were granted what became Normandy and continued to co-operate with their Norse
    kinsmen.

    Little is known about Viking religious practice and its depiction is largely fictitious.[67] When Katheryn Winnick
    was asked why she licked the seer's hand she answered: "It wasn't originally in the script and we just wanted to
    come up with something unique and different".[68] The showrunner Michael Hirst said, "I especially had to take
    liberties with Vikings because no one knows for sure what happened in the Dark Ages ... we want people to watch it.
    A historical account of the Vikings would reach hundreds, occasionally thousands, of people. Here we've got to reach
    millions".</p>